<h1>Coders</h1>

<table class="table">
    <tr>
        <th>
            First name
        </th>
        <th>
            Last name
        </th>
        <th>
            Term
        </th>
    </tr>
    {{#coders}}
    <tr>
        <td>
            {{firstName}}
        </td>
        <td>
            {{lastName}}
        </td>
        <td>
            <form class="" action="/coders/update_term/{{coder_id}}" method="post">

                <select class="form-control input-sm" name="stage_id">
                    {{#terms}}
                        <option value="{{this.id}}" {{this.selected}}>{{this.name}}</option>
                    {{/terms}}
                </select>
        </td>
        <td>
                <input type="submit" class="btn btn-info" name="name" value="Submit">
            </form>
        </td>
    </tr>
    {{/coders}}
</table>
<script type="text/javascript">

    var termSelect = document.querySelector('.term');
    termSelect.addEventListener('onchange', function(){
        alert("go!");
    });


</script>
